.headerLogo {
    width: 250px;
    height: auto;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes logo {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.05);

    }
    100% {
        transform: scale(1, 1);
    }
}
.headerLogo:hover {
    animation: swing 1s ;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
.navbar-logo {
    /* background: rgb(192, 247, 255);
    border-radius: 50%;
    border: 4px solid rgb(55, 180, 230); */
    
}
.navbar-item {
    position: relative;
    top: 10px;
    width: 175px;
    height: 150px;
}
.navbar-item a {
    position: absolute;
    /* height: auto; */
    top: 0px;
    /* top: 0px; */
    z-index: 1;
}
.cloud {
    width: 100%;
    animation-name: cloud;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes cloud {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-3deg);
    }
    /* 50% {
        transform: rotate(0deg);

    } */
    75% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.drops-container {
    position: relative;
    display: flex;
    top: 45%;
    /* bottom: 0px; */
    left: 15%;
    transition: all ease .5s;
}
.drop-container {
    position: absolute;
    width: 10%;

}
.drop {
    width: 100%;
}
.d2 {
    left: 20%;
    top: -15px;
}
.d3 {
    left: 37%;
    top: -8px;
}
.d4 {
    left: 55%;
}
.navbar-item:hover .drops-container {
    top: 135px;
}
@media screen and (max-width: 450px) {
    .navbar {
        flex-direction: column;
    }
    .item1 {
        order: 1;
    }
    .item2 {
        order: 2;
    }
    .item3 {
        order: 3;
    }
    .item4 {
        order: 4;
    }
    .item5 {
        order: 5;
    }
}